<!DOCTYPE configuration>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <append>false</append>
        <file>target/spring-ws-test.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info" />
    <logger name="org.springframework.boot" level="info" />
    <logger name="org.springframework.security" level="info" />
    <logger name="org.springframework.ws" level="info" />
    <logger name="org.springframework.ws.soap.security" level="info" />
    <logger name="org.apache.wss4j.dom" level="info" />

    <logger name="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" level="debug" />
    <logger name="org.springframework.ws.server.MessageTracing" level="info" />
    <logger name="org.springframework.ws.client.MessageTracing" level="info" />

    <logger name="ru.akh.spring_ws" level="debug" />
    <logger name="ru.akh.spring_ws.interceptor.DebugInterceptor" level="trace" />

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="file" />
    </root>

</configuration>
